* {box-sizing:border-box;}
body {background-color: #edf8ff;}

main {
  display: flex;
  width: 80%
}

img {
  width: 100%;
}

.form-wrapper {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.form-container {
  margin: 20% auto;
  width: 50%;
}

.click-container {
  width: 70%;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.img-animal {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
