* {box-sizing:border-box;}

body {
  font-family: Calibri, Verdana, Tahoma;
  background-color: #edf8ff;
}

main {
  display: flex;
  width: 80%
}

img {
  width: 100%;
}

fieldset {
  border-radius: 10px;
}

input[type="text"],
input[type="number"],
input[type="url"] {
  margin: 0.4em auto;
  width: 100%;
}

input[type="reset"],
input[type="submit"] {
  margin: 0.5em auto;
}

.form-wrapper {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.picklist-container {
  margin: 10% auto;
}

.admin-fieldset {
  margin: 10% auto;
}

.click-container {
  width: 60%;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.img-animal {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
